.dialog-actions {
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
}

.description {
  text-align: center;
  font-size: .8rem;
  font-weight: 600;
  color: #333;
}
